
  

  <h3>Dealer's cards</h3>
  <% if @stay %>
  <% @dealershand.each do |picture|%>
    <img src="/images/cards/<%=picture%>.jpg" class="shadow" />
  <%end%>
  <p>Dealer has a total of <%=calculate_total(session[:dealer_hand])%></p>
  <% else %>
  <img src='/images/cards/cover.jpg' />
  <img src='/images/cards/<%=@dealershand.last%>.jpg' class="shadow"/>
  <hr>
  <%end%>

  <% if @dealerturn == true %>
  <form method="post" action="/game/dealer" id="dealerhit">  
    <input type="submit" class="btn btn-primary" value="Show dealers next card >>">
  </form>
  <% end %>


  <h3><%=session[:name]%>'s cards</h3>
  <% @playershand.each do |picture|%>
    <img src="/images/cards/<%=picture%>.jpg" class="shadow" />
  <%end%>
  <h4><%=session[:name]%>, you have a total of <%= calculate_total(session[:player_hand]) %></h4>

  
  
  <% if @show_hit_or_stay %>
  <p><%=session[:name]%>, would you like to hit or stay</p>
  <form method="post" action="/game/player/hit" id="hit">  
    <input type="submit" class="btn btn-success" value="HIT">
  </form>
  
  <form method="post" action="/game/player/stay" id="stay">
    <input type="submit" class="btn btn-warning" value="STAY">
  </form>
  <% end %>




  

